.blue {
    background-color: rgba(190, 72, 155, 0.281);
    margin: 2mm;
}
.nav-item {
    text-align: center;
}
.banner {
    padding: 150px;
    /* Le padding définira la taille de la section, et donc du background, au passage il va centré votre texte verticalement. */
    background-color: rgb(190, 72, 155, 0.281);
    text-align: center;
    font-style: "Comic Sans MS";
    /* box-shadow: 0px 5px 8px #c4c4c4; */
}
h1 {
    text-align: center;
    padding: 4%;
    margin: 2%;
    text-shadow: 2px 2px 5px red;
}
h2 {
    text-shadow: 2px 2px 5px red;
}
/* Colonne  */
.langages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    margin: auto;
}
.photos:hover {
    box-shadow: 2px 2px 5px black;
    
}
.image {
    display: flex;
    justify-content: left;
    width: 40vmin;
    
}
.quisuisje {
    text-align: center;
    padding: 5%;
}
.imageMe img {
    width: 40vmin;
}
.carre:hover{
    box-shadow: 2px 2px 5px black;
}
.text {
    display: flex;
    align-items: center;
    /* padding: 3%; */
    
}
form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 30px auto;
    width: 60%;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 5px solid #CCC;
    border-radius: 1em;
}
.footer {
    text-align: center;
    margin: 5%;
}